# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
eggs/
*.pyo
*.pyd

# 가상 환경
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# 로그 파일
*.log
logs

# 파일
input/
output/